[submodule "ILAng/extern/vlog-parser"]
	path = ILAng/extern/vlog-parser
	url = https://github.com/Bo-Yuan-Huang/verilog-parser.git
[submodule "ILAng/extern/tmpl-synth"]
	path = ILAng/extern/tmpl-synth
	url = https://github.com/PrincetonUniversity/ILA-Synthesis-Python.git
[submodule "smt-switch"]
	path = smt-switch
	url = https://github.com/makaimann/smt-switch.git
[submodule "ILAng/extern/smt-switch"]
	path = ILAng/extern/smt-switch
	url = https://github.com/makaimann/smt-switch.git
